<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit message</title>
</head>
<body>
    <p>Edit your Chat: <%=chat.id%></p>
    <p>This chat was sent from <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="6" cols="40"><%=chat.msg%></textarea>
        <br>
        <button>Edit</button>
    </form>
</body>
</html>